parameters:
    level: 7
    paths:
        - src
    excludePaths:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
