{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}groups{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@RoadizRozier/groups/head.html.twig' with {
        title: 'groups'|trans,
        filters: filters,
        buttons: [
            {
                label: 'add.a.group'|trans,
                attributes: {
                    href: path('groupsAddPage'),
                },
                icon: 'rz-icon-ri--add-line',
            },
            {
                label: 'import.group'|trans,
                attributes: {
                    href: path('groupsImportPage'),
                },
                icon: 'rz-icon-ri-upload-line',
            },
            {
                label: 'export.all.groups'|trans,
                attributes: {
                    href: path('groupsExportAllPage'),
                },
                icon: 'rz-icon-ri-download-line',
            },
        ]
    } only %}

    {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
        display_select_all_button: false,
        items: items
    }  only %}

    <section>
         {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: false,
            actions_available: true,
            items: items,
        } only %}
            {% block thead_cells %}
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'name',
                        'filters': filters,
                        'label': 'name'|trans,
                        'column_ordering_class': column_ordering_class,
                    } only %}
                </th>
                <th class="mobile-hidden">{% trans %}roles{% endtrans %}</th>
                <th class="mobile-hidden">{% trans %}users{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% for item in items %}
                    {% if is_granted(item) %}
                        <tr>
                            <td>
                                {% if not item.required %}
                                    {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                                    {{ rz_link.root({
                                        label: item.name,
                                        attributes: { href: path('groupsEditPage', { id: item.id })  },
                                    }) }}
                                {% else %}
                                    {{ item.name }}
                                {% endif %}
                            </td>
                            <td class="mobile-hidden">
                                {% transchoice item.roles|length %}{0} no.role|{1} 1.role|]1,Inf] %count%.roles{% endtranschoice %}
                            </td>
                            <td class="mobile-hidden">
                                {% transchoice item.users|length %}{0} no.user|{1} 1.user|]1,Inf] %count%.users{% endtranschoice %}
                            </td>
                            {% if actions_available %}
                                <td>
                                    {% if not item.required %}
                                        {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                            'edit_href': is_granted(item) ? path('groupsEditPage', { id: item.id }) : null,
                                            'delete_href': is_granted(item) ? path('groupsDeletePage', { id: item.id }) : null,
                                        } %}
                                            {% block other_actions %}
                                                {{ _self.button({
                                                    icon: 'uk-icon-rz-download',
                                                    attributes: {
                                                        href: path('groupsExportPage', { id: item.id }),
                                                        title: 'export'|trans,
                                                    }
                                                }) }}
                                            {% endblock %}
                                        {% endembed %}
                                    {% else %}
                                        <div class="uk-badge uk-badge-table">
                                            <span class="uk-icon-rz-lock"></span>
                                            {% trans %}group.required{% endtrans %}
                                        </div>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </section>
{% endblock %}
