{% embed "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
    filters: filters,
    display_select_all_button: true,
    display_layout_fields: true,
} only %}
    {% block before_submit %}
        <select
            class="rz-select"
            onchange="this.form.submit()"
            name="embedPlatform"
            id="embedPlatform"
        >
            <option value="">{{ 'document.no_embed_platform'|trans }}</option>
            <option
                {% if embedPlatform == 'unsplash' %} selected{% endif %}
                value="unsplash"
            >
                    {{ 'random.document'|trans }}
            </option>
            {% for availablePlatform, class in availablePlatforms %}
                <option
                    {% if embedPlatform == availablePlatform %} selected{% endif %}
                    value="{{ availablePlatform }}"
                >
                    {{ availablePlatform|capitalize }}
                </option>
            {% endfor %}
        </select>
    {% endblock %}
{% endembed %}
