{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {%- if folder -%}
        {%- set folderName = folder.translatedFolders.first.name|default(folder.folderName) -%}
        {{- folderName|truncate_title }}
    {%- elseif orphans -%}
        {%- trans %}unused_documents{% endtrans %}
    {%- else -%}
        {%- trans %}documents{% endtrans %}
    {% endif %}
    | {{ parent() }}
{%- endblock -%}

{% block content %}
<section class="content-global content-nav-and-filters bulk-layout">
    {% if folder %}
        {% set folderName = folder.translatedFolders.first.name|default(folder.folderName) %}
        {% set title = folderName|truncate_title %}
        {% set with_nav_bar = true %}
        {% set current = displayPrivateDocuments ? 'private_list' : 'list' %}
    {% else %}
        {% set title = pageTitle|trans %}
        {% set with_nav_bar = false %}
    {% endif %}
    {% include '@RoadizRozier/documents/head.html.twig' with {
        title: title,
        displayPrivateDocuments: displayPrivateDocuments,
        displayButtonAction: true,
        folder: folder,
        with_nav_bar: with_nav_bar,
        current: current,
        translation: translation,
        filters: filters
    } only %}

    {% include '@RoadizRozier/documents/filtersBar.html.twig' %}

    {% block content_body %}
    <article class="content">
        {% block pre_content_body %}{% endblock %}

        <div class="documents-list">
            {% for document in documents %}
                {% include '@RoadizRozier/documents/singleDocumentThumbnail.html.twig' with {
                    document: document,
                    thumbnailFormat: thumbnailFormat,
                    controls: true
                } only %}
            {% endfor %}
        </div>
	</article>
    {% endblock %}
</section>
{% endblock %}
