{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {%- if folder -%}
        {%- set folderName = folder.translatedFolders.first.name|default(folder.folderName) -%}
        {{- folderName|truncate_title }}
    {%- elseif orphans -%}
        {%- trans %}unused_documents{% endtrans %}
    {%- else -%}
        {%- trans %}documents{% endtrans %}
    {% endif %}
    | {{ parent() }}
{%- endblock -%}

{% block content %}
<rz-bulk-section>
    {% if folder %}
        {% set folderName = folder.translatedFolders.first.name|default(folder.folderName) %}
        {% set title = folderName|truncate_title %}
        {% set with_nav_bar = true %}
        {% set current = displayPrivateDocuments ? 'private_list' : 'list' %}
    {% else %}
        {% set title = pageTitle|trans %}
        {% set with_nav_bar = false %}
    {% endif %}
    {% include '@RoadizRozier/documents/head.html.twig' with {
        title: title,
        displayPrivateDocuments: displayPrivateDocuments,
        displayButtonAction: (displayButtonAction is defined) ? displayButtonAction : true,
        folder: folder,
        with_nav_bar: with_nav_bar,
        current: current,
        translation: translation,
        filters: filters,
        with_breadcrumb: true,
    } only %}

    {% include '@RoadizRozier/documents/filtersBar.html.twig' with {
        filters: filters,
    } %}

    {% include '@RoadizRozier/documents/bulkActions.html.twig' with {
        joinFolderForm: joinFolderForm,
    } %}

    {% block content_body %}
        <article>
            {% block pre_content_body %}{% endblock %}

            <div class="rz-layout-grid">
                {% for document in documents %}
                    {% include '@RoadizRozier/documents/singleDocumentThumbnail.html.twig' with {
                        document: document,
                        thumbnailFormat: thumbnailFormat,
                        controls: true
                    } only %}
                {% endfor %}
            </div>
        </article>
    {% endblock %}
</rz-bulk-section>
{% endblock %}
