{% extends "@RoadizRozier/documents/list-table.html.twig" %}

{% block title %}{{ pageTitle|trans }} | {{ parent() }}{% endblock %}

{% block header_action_menu %}{% endblock %}

{% block pre_content_body %}
    <div class="rz-message rz-message--warning rz-message__text">
        {{- 'unused_documents.help'|trans|markdown -}}
    </div>
{% endblock %}
