<rz-aside class="rz-aside">
    <div class="rz-aside__body">
        {% include '@RoadizRozier/widgets/tree/rz_tree_wrapper_auto.html.twig' with {
            root_classes: ['rz-aside__body'],
        } %}
    </div>
</rz-aside>
