<aside class="rz-aside" id="main-trees">
    <div class="rz-aside__body" id="tree-container">
        {% include '@RoadizRozier/widgets/tree/rz_tree_wrapper_auto.html.twig' with {
            root_classes: ['rz-aside__body', 'rz-aside__body--tag'],
        } %}
    </div>
</aside>
