{% extends '@RoadizRozier/admin/base.html.twig' %}

{% block title %}{{ block('bulk_title') }} | {{ parent() }}{% endblock %}

{%- block header -%}
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: block('bulk_title')|trans,
        filters: filters,
    } only %}
{%- endblock -%}

{% block content_body %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="items content-table uk-table">
                <thead>
                    <tr>
                        {% include '@RoadizRozier/admin/webhooks/webhook_row_header.html.twig' with { no_sort: true } %}
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        {% include '@RoadizRozier/admin/webhooks/webhook_row.html.twig' %}
                    </tr>
                {% else %}
                    <tr><td colspan="6">{% trans %}no_webhooks{% endtrans %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% block bulk_form %}{% endblock %}
    </article>
{% endblock %}
