{% set button_label = null %}
{% set button_href = null %}

{% if nodeTree is defined %}
    {% set button_label = nodeTree is defined and not nodeTree.rootNode ? 'add.a.node'|trans : 'add.child.node'|trans %}

    {% if nodeTree.rootNode %}
        {% set button_label = path('nodesAddChildPage', { nodeId : nodeTree.rootNode.id }) %}
    {% elseif nodeTree.translation is defined and not nodeTree.rootNode %}
        {% set button_label = path('nodesAddPage', { translationId: nodeTree.translation.id }) %}
    {% endif %}

{% endif %}

{% embed '@RoadizRozier/widgets/rz_tree_wrapper.html.twig' with {
    title: 'aside.node_tree.title'|trans,
    tree: nodeTree,
	mainNodeTree: mainNodeTree,
    linkedTypes: linkedTypes,
    tree_type: 'node',
} only %}
    {% block head_button %}
        {{ _self.add_button({
            label: button_label,
            attributes: { href: button_href }
        }) }}
    {% endblock %}

    {% block after_title %}
        <a
            class="see-all-root-tree"
            data-uk-tooltip="{animation:true}"
            title="{% trans %}see_all{% endtrans %}"
            href="{{ path('nodesMainTreePage', { translationId: tree.translation.id }) }}"
        >
            <span class="rz-icon-ri--search-line"></span>
        </a>
    {% endblock %}

    {%- block tree_content -%}
        {% if nodeTree is defined  %}
            {% include '@RoadizRozier/widgets/nodeTree/nodeTree.html.twig' with {
                nodeTree: tree,
                mainNodeTree: mainNodeTree,
                linkedTypes: linkedTypes,
            } only %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {%- endblock -%}

{% endembed %}
