{% if not source %}
    {% set source = node.nodeSources.first %}
{% endif %}

{% set currentTitle = source.title|default(node.nodeName) %}

<ul class="uk-breadcrumb content-breadcrumb node-breadcrumb">
    {%- for parent in source|parents(null, true)|reverse -%}
        {% if is_granted('READ', parent) %}
            {# Use Roadiz Rozier BreadcrumbsItemFactory #}
            {% set breadcrumbsItem = getBreadcrumbsItem(parent) %}
            <li class="node-breadcrumb-item">
                <a class="node-breadcrumb-link" href="{{ breadcrumbsItem.url }}">
                    {%- if breadcrumbsItem.isHome -%}
                        <i class="uk-icon-rz-breadcrumb-home"></i>
                    {%- else -%}
                        {{- breadcrumbsItem.label|u.truncate(25, '[…]', true) -}}
                    {%- endif -%}
                </a>
            </li>
        {% endif %}
    {%- endfor -%}
    <li class="node-breadcrumb-item uk-active"><span>{{- currentTitle|u.truncate(25, '[…]', true) -}}</span></li>
</ul>
