{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "history.for.%name%"|trans({"%name%":node.nodeName}) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header content-header-filters manage-history-header">
        <h1 class="content-title node-edit-source-title">
            {{ "history.for.%name%"|trans({"%name%":node.nodeName}) }}
            {% include '@RoadizRozier/nodes/nodeTypeCircle.html.twig' %}
            {% if node.isDeleted %}
                <div class="rz-badge rz-badge--sm rz-badge--error"><span class="rz-badge__icon rz-icon-rz--status-deleted-outlined"></span><span class="rz-badge__label">{% trans %}deleted{% endtrans %}</span></div>
            {% elseif node.isArchived %}
                <div class="rz-badge rz-badge--sm rz-badge--error"><span class="rz-badge__icon rz-icon-rz--status-archived-outlined"></span><span class="rz-badge__label">{% trans %}archived{% endtrans %}</span></div>
            {% elseif node.isPublished %}
                <div class="rz-badge rz-badge--sm rz-badge--success"><span class="rz-badge__icon rz-icon-rz--status-published-colored"></span><span class="rz-badge__label">{% trans %}published{% endtrans %}</span></div>
            {% elseif node.isPending %}
                <div class="rz-badge rz-badge--sm rz-badge--warning"><span class="rz-badge__icon rz-icon-rz--status-draft-colored"></span><span class="rz-badge__label">{% trans %}pending{% endtrans %}</span></div>
            {% else %}
                <div class="rz-badge rz-badge--sm rz-badge--warning"><span class="rz-badge__icon rz-icon-rz--status-draft-colored"></span><span class="rz-badge__label">{% trans %}draft{% endtrans %}</span></div>
            {% endif %}
        </h1>
        {% include '@RoadizRozier/widgets/countFiltersBar.html.twig' %}

        {% include '@RoadizRozier/nodes/navBack.html.twig' %}
        {% include '@RoadizRozier/nodes/navBar.html.twig' with {current:'history'} %}
    </header>
    {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-manage-history">
        <div class="history-logs">
            {% for log in entries %}
                {% include '@RoadizRozier/modules/history-item.html.twig' with {
                    'levels': levels,
                    'log': log
                } only %}
            {% endfor %}
        </div>
    </article>
    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
