{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "history.for.%name%"|trans({"%name%":node.nodeName}) }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        node: node,
        title: "history.for.%name%"|trans({"%name%":node.nodeName}),
        current: 'history',
        filters: filters,
        with_info_badge: true,
        with_status_badge: true,
        with_nav_bar: true,
    } only %}

    {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
        display_select_all_button: false,
    }  only %}

    <section class="rz-page__body">
        {% include '@RoadizRozier/history/list_table.html.twig' with {
            levels: levels,
            log_list: entries
        } only %}
    </section>

    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
{% endblock %}
