{% extends '@RoadizRozier/layout.html.twig' %}

{% set mainTitle = mainFilter ~ '.nodes' %}

{% block title %}{{ mainTitle|trans()|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters bulk-layout">
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        title: mainTitle|trans()|truncate_title,
        filters: filters,
        availableTranslations: availableTranslations,
        translation: translation,
        nodeTypes: nodeTypes,
        mainFilter: mainFilter,
    } only %}

    {% include '@RoadizRozier/nodes/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="nodes content-table uk-table">
                <thead>
                {% include '@RoadizRozier/nodes/widgets/node-header.html.twig' with {
                    'filters': filters
                } only %}
                </thead>
                <tbody>
                    {% for node in nodes %}
                        {% include '@RoadizRozier/nodes/widgets/node-row.html.twig' with {
                            'node': node
                        } only %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
