{% embed '@RoadizRozier/includes/rz_table.html.twig' %}
	{% block thead_cells %}
		<th>{% trans %}redirection.query{% endtrans %}</th>
		<th>{% trans %}redirection.redirect_uri{% endtrans %}</th>
		<th>{% trans %}translation{% endtrans %}</th>
	{% endblock %}
	{% block tbody_content %}
		{% for redirection in redirections %}
			{% include '@RoadizRozier/redirections/editRow.html.twig' with {
				redirection: redirection
			} %}
		{% else %}
			<tr>
				<td colspan="4">{% trans %}no_redirection_found{% endtrans %}</td>
			</tr>
		{% endfor %}
	{% endblock %}
{% endembed %}
