{% extends '@RoadizRozier/layout.html.twig' %}

{% if node %}
    {% set title = source.title|truncate_title %}
    {% if specificNodeTree.tag is defined and specificNodeTree.tag %}
        {% set title = specificNodeTree.tag.translatedTags.first.name %}
    {% endif %}
{% else %}
    {% set title = 'tree'|trans %}
{% endif %}

{%- block title -%}
    {{ title }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}

{# StackNodeTree need "stack-tree" this class #}
<rz-bulk-section class="stack-tree">
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        node: node,
        translation: translation,
        available_translations: available_translations,
        title: title,
        current: 'tree',
        route: 'nodesTreePage',
        filters: specificNodeTree.filters,
        stackTypesButton: true,
        with_info_badge: true,
        with_status_badge: true,
        with_nav_bar: true,
        source: source,
    } only %}

    {% set tags = [] %}
    {% if availableTags|length > 0 %}
        {% for tag in availableTags %}
            {% set current_tag = tag.translatedTagsByTranslation(translation) %}
            {% set tagName = current_tag[0].name|default(tag.tagName) %}
            {% set tags = tags|merge([{
                'name': tagName,
                'id': tag.id,
                'selected': filterTag and filterTag.id == tag.id,
            }]) %}
        {% endfor %}
    {% endif %}

    {% include '@RoadizRozier/nodes/filtersBar.html.twig' with {
        filters: filters,
        tags: tags,
    } only %}

    {% include '@RoadizRozier/nodes/bulkActions.html.twig' with {
        delete_form_data: deleteNodesForm|default(null),
        delete_form_action: path('nodesBulkDeletePage'),
        delete_form_method: 'post',
        tagNodesForm: tagNodesForm,
        statusNodesForm: statusNodesForm,
    } only %}

    <section class="rz-page__body">
        <rz-tree
            class="rz-tree"
            group="nodeTree"
            data-entity-type="node"
            data-is-sortable="{{ specificNodeTree.canReorder ? 'true' : 'false' }}"
            id="children-stack-{{ specificNodeTree.id ?? node.id ?? 'root' }}"
        >
            {% include '@RoadizRozier/widgets/nodeTree/nodeTree.html.twig' with {
                nodeTree: specificNodeTree,
                node: specificNodeTree.getRootNode,
            } only %}
        </rz-tree>
    </section>

    {% if node %}
        {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
    {% endif %}

</rz-bulk-section>
{% endblock %}
