<div id="company">
    {% if rozier.adminImage %}
        <a class="admin-image" href="{{ path('adminHomePage') }}">{{- rozier.adminImage|display({ picture: true, width: 180, quality: 70 }) -}}</a>
    {% else %}
        <a class="uk-icon-rz-roadiz-icon" href="{{ path('adminHomePage') }}"></a>
    {% endif %}
</div>
