<div id="login-logo">
    {% if rozier.adminImage %}
        {{- rozier.adminImage|display({ picture: true, width: 200, quality: 70 }) -}}
    {% else %}
        <i class="uk-icon-rz-roadiz-icon"></i>
    {% endif %}
</div>
