{%- if folderTree -%}
<nav id="foldertree-widget" class="tree-widget foldertree-widget">
    {% if mainFolderTree %}
        <div class="tree-head foldertree-head">
            <h4>{% trans %}folderTree{% endtrans %}</h4>

            {% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}
            {{ rz_button.root({
                icon: 'rz-icon-ri--add-line',
                label: folderTree.getRootFolder == null ? 'add.a.folder'|trans : 'add.child.folder'|trans,
                id: 'foldertree-btn-add',
                attributes: {
                    href: folderTree.getRootFolder == null ?
                        path('foldersAddPage')
                        : path('foldersAddChildPage', { folderId : folderTree.rootFolder.id }),
                }
            }) }}
        </div>
    {% endif %}
    <div class="tree-scroll-cont">
        <ul class="foldertree root-tree uk-nestable uk-nestable-folder"
            data-uk-nestable="{'group':'folderTree'}"
            data-parent-folder-id="{{ folder.getId }}">
            {% for cfolder in folderTree.folders %}
                {% include '@RoadizRozier/widgets/folderTree/singleFolder.html.twig' with {
                    "folder":cfolder,
                    "folderTree":folderTree
                } only %}
            {% endfor %}
        </ul>
    </div>
</nav>
{%- endif -%}
