{% extends '@RoadizRozier/layout.html.twig' %}

{% set title_label = nodeType ? ('search'|trans ~ ' - ' ~ nodeType.displayName) : 'search'|trans %}

{%- block title -%}
    {{ title_label}} | {{ parent() -}}
{%- endblock -%}

{% block content %}
    <rz-bulk-section>
        {% include '@RoadizRozier/admin/head.html.twig' with {
            title: title_label,
            filters: filters,
            breadcrumb: {
                label: 'search-breadcrumb',
                current: title_label,
            },
        } only %}

        <article>
            {% if nodeTypeForm %}
                {% form_theme nodeTypeForm '@RoadizRozier/forms.html.twig' %}
                <form class="rz-form" id="search-node-type-form" action="#" method="get">
                        {{ form_widget(nodeTypeForm, { 'attr': {'class': 'rz-form__field-list'} }) }}
                    <div class="rz-form-field rz-form-field--align-start">
                        <button class="rz-button rz-button--primary rz-button--success" type="submit">
                            <span class="rz-button__label">{% trans %}select.nodetype{% endtrans %}</span><span class="rz-button__icon rz-icon-ri--filter-line"></span>
                        </button>
                    </div>
                </form>
            {% endif %}

            {% if form %}
                <hr />
                {% form_theme form '@RoadizRozier/forms.html.twig' %}
                <form class="rz-form" id="search-node-form" action="#" method="get">
                        {{ form_widget(form, { 'attr': {'class': 'rz-form__field-list'} }) }}
                </form>
            {% endif %}

            {% include '@RoadizRozier/nodes/filtersBar.html.twig' %}
            {% if nodes is defined %}
                {% include '@RoadizRozier/nodes/bulkActions.html.twig' with {
                    delete_form_data: deleteNodesForm|default(null),
                    delete_form_action: path('nodesBulkDeletePage'),
                    delete_form_method: 'post',
                    tagNodesForm: tagNodesForm,
                    statusNodesForm: statusNodesForm,
                } only %}

                {% include '@RoadizRozier/nodes/list_table.html.twig' with {
                    sortable: false,
                    selection_available: true,
                    actions_available: true,
                } %}
            {% endif %}
        </article>
    </rz-bulk-section>
{% endblock %}
