{% extends '@RoadizRozier/login/base.html.twig' %}

{% block title %}{% trans %}login_link_sent{% endtrans %} | {{ parent() }}{% endblock %}

{% block login_content %}
    <div data-uk-alert class="uk-alert uk-alert-success">
        {% trans %}login_link_sent_if_email_exists.check_inbox{% endtrans %}
    </div>
{% endblock %}
