{% extends '@RoadizRozier/login/base.html.twig' %}

{% block title %}{% trans %}login_link{% endtrans %} | {{ parent() }}{% endblock %}

{% block login_content %}
    <form id="login-form"
          action="{{ path('roadiz_rozier_login_link') }}"
          class="rz-login__group"
          method="post">
        <rz-form-field class="rz-form-field rz-form-field--required">
            <div class="rz-form-field__head">
                <label class="rz-form-field__head__label" for="email">{% trans %}email{% endtrans %}</label>
            </div>
            <input is="rz-input"
                   name="email"
                   id="email"
                   type="email"
                   autocomplete="email"
                   placeholder="{% trans %}email{% endtrans %}"
                   class="rz-form-field__body"
                   required
                   autofocus />
        </rz-form-field>
        <div class="rz-login__group rz-login__group--last rz-login__group--full-width">
            <a href="{{ path('loginPage') }}" class="rz-button rz-button--secondary">
                <span class="rz-button__label">{% trans %}classic.login_password{% endtrans %}</span>
                <span class="rz-button__icon rz-icon-ri--lock-password-line"></span>
            </a>
            <button class="rz-button rz-button--primary" type="submit">
                <span class="rz-button__label">{% trans %}request_login_link{% endtrans %}</span>
                <span class="rz-button__icon rz-icon-ri--arrow-right-s-line"></span>
            </button>
        </div>
    </form>
{% endblock %}
