{% apply spaceless %}
    {% set attributes = {
        'type': "application/pdf"|escape('html_attr'),
        'data': url,
    } %}
    {% if width %}
        {% set attributes = attributes|merge({
        'width': width|escape('html_attr'),
        }) %}
    {% endif %}
    {% if height %}
        {% set attributes = attributes|merge({
        'height': height|escape('html_attr'),
        }) %}
    {% endif %}
    {% if class %}
        {% set attributes = attributes|merge({
        'class': class|escape('html_attr'),
        }) %}
    {% endif %}
    {% if identifier %}
        {% set attributes = attributes|merge({
        'id': identifier|escape('html_attr'),
        }) %}
    {% endif %}
    {% set attributesCompiled = {} %}
    {% for key, value in attributes %}
        {% if value is same as(true)  %}
            {% set attributesCompiled = attributesCompiled|merge([key]) %}
        {% else %}
            {% set attributesCompiled = attributesCompiled|merge([key ~ '="' ~ value ~ '"']) %}
        {% endif %}
    {% endfor %}
<object {{ attributesCompiled|join(' ')|raw }}>
    {%- block pdf_fallback -%}<p>Your browser does not support PDF native viewer.</p>{%- endblock -%}
</object>
{% endapply %}
