<nav class="tree-widget nodetree-widget">
    {% if mainNodeTree %}
        <div class="tree-head nodetree-head">
            {% for stackType in node.stackTypes %}
                {% set nodeType = getNodeType(type) %}
                <form action="{{ path('nodesGenerateAndAddNodeAction') }}" method="post">
                    <input type="hidden" name="nodeTypeName" value="{{ nodeType.name }}">
                    <input type="hidden" name="parentNodeId" value="{{ node.id }}">
                    <input type="hidden" name="pushTop" value="1">
                    <button class="uk-button tree-btn-add rz-no-ajax-link"
                       id="nodetree-btn-add"
                       type="submit"><i class="uk-icon-rz-plus-simple"></i> {{ "add.a.%nodeType%"|trans({'%nodeType%': nodeType.displayName}) -}}</button>
                </form>
            {% endfor %}
        </div>
    {% endif %}
    <ul class="root-tree">
        {% include '@RoadizRozier/widgets/nodeTree/singleNode.html.twig' with {
            "node":node,
            "parent":nodeTree.getRootNode,
            "nodeTree":null,
            "mainNodeTree":null,
            "level": 0,
            'canReorder': nodeTree.canReorder,
        } only %}
    </ul>
</nav>
