{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}realms{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% include '@RoadizRozier/realms/head.html.twig' with {
        title: 'realms'|trans,
        filters: filters,
        buttons: [{
            label: 'add.a.realm'|trans,
            attributes: {
                href: path('realmsAddPage'),
            },
            icon: 'rz-icon-ri--add-line'
        }]
    } only %}

    {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
        display_select_all_button: false,
    }  only %}

    <article>
        {% include '@RoadizRozier/realms/list_table.html.twig' with {
            items: items,
            filters: filters,
            actions_available: true,
        } only %}
    </article>
</section>
{% endblock %}
