{% extends "@RoadizRozier/node-types-decorators/add.html.twig" %}

{% block title %}{{ item.path|u.truncate(25, '[…]', true) }} | {{ parent() }}{% endblock %}

{%- block content_title -%}{{ item.path|u.truncate(25, '[…]', true) }}{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('nodeTypeDecoratorsListPage') }}"
       title="{% trans %}back_to.nodeTypes{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
{%- endblock -%}


