<tr>
    <th>{% trans %}nodeName{% endtrans %}
        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
            'field': 'nodeName',
            'filters': filters,
        } only %}
    </th>
    <th class="mobile-hidden">
        {% trans %}node.type{% endtrans %}
        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
            'field': 'nodeTypeName',
            'filters': filters,
        } only %}
    </th>
    <th class="mobile-hidden uk-visible-large">{% trans %}node.status{% endtrans %}</th>
    <th class="mobile-hidden uk-visible-xlarge">{% trans %}last.modification{% endtrans %}
        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
            'field': 'updatedAt',
            'filters': filters,
        } only %}
    </th>
    <th class="table-actions-row table-actions-row-3">
        <div class="bulk-selection">
            <input class="checkbox" type="checkbox" name="bulk-selection-all" />
        </div>
        {% trans %}actions{% endtrans %}
    </th>
</tr>
