<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="./src"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12">
        <exclude name="Generic.Files.LineLength"/>
    </rule>
    <file>./</file>
    <exclude-pattern>*.js</exclude-pattern>
    <exclude-pattern>*.vue</exclude-pattern>
    <exclude-pattern>*/Resources/app</exclude-pattern>
    <exclude-pattern>*/node_modules</exclude-pattern>
    <exclude-pattern>*/.AppleDouble</exclude-pattern>
    <exclude-pattern>*/vendor</exclude-pattern>
    <exclude-pattern>*/cache</exclude-pattern>
    <exclude-pattern>*/gen-src</exclude-pattern>
    <exclude-pattern>*/tests</exclude-pattern>
    <exclude-pattern>*/bin</exclude-pattern>
    <exclude-pattern>*/themes</exclude-pattern>
    <exclude-pattern>.data/*</exclude-pattern>
</ruleset>
