{% set tabCount = 0 %}

{% if is_granted('ROLE_ACCESS_NODES')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

{% if is_granted('ROLE_ACCESS_TAGS')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

{% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
{% set tabCount = tabCount + 1 %}
{% endif %}

<div id="search-button" class="mobile-button"><i class="uk-icon-search"></i></div>
{% include '@RoadizRozier/widgets/nodesSourcesSearch.html.twig' %}
<div id="tree-button" class="mobile-button"><i class="uk-icon-rz-node-tree"></i></div>
<main-trees v-pre id="tree-wrapper">
    {% if tabCount >= 1 %}
    <nav id="tree-menu" role="tablist">
        {% if is_granted('ROLE_ACCESS_NODES')%}
        <button type="button" role="tab" aria-controls="tree-tab-nodes" id="tree-menu-tab-nodes" class="tabs tab-link">
            <i class="uk-icon-rz-node-tree"></i>
            <span class="label">{% trans %}nodes{% endtrans %}</span>
        </button>
        {% endif %}
        {% if is_granted('ROLE_ACCESS_TAGS')%}
        <button type="button" role="tab" aria-controls="tree-tab-tags" id="tree-menu-tab-tags" class="tabs tab-link">
            <i class="uk-icon-rz-tag-tree"></i>
            <span class="label">{% trans %}tags{% endtrans %}</span>
        </button>
        {% endif %}
        {% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
        <button type="button" role="tab" aria-controls="tree-tab-folders" id="tree-menu-tab-folders" class="tabs tab-link">
            <i class="uk-icon-rz-folder-tree"></i>
            <span class="label">{% trans %}folders{% endtrans %}</span>
        </button>
        {% endif %}
    </nav>
    {% endif %}
    {# This is the container of the content items #}
    <div id="tree-container">
        {% if is_granted('ROLE_ACCESS_NODES')%}
            <div class="tree-tab-content" aria-labelledby="tree-menu-tab-nodes" role="tabpanel" id="tree-tab-nodes">
                <nav class="tree-widget nodetree-widget">
                    <div class="root-tree">
                        <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
                    </div>
                </nav>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ACCESS_TAGS')%}
            <div class="tree-tab-content" aria-labelledby="tree-menu-tab-tags" role="tabpanel" id="tree-tab-tags">
                <nav id="tagtree-widget" class="tree-widget tagtree-widget">
                    <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
                </nav>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
            <div class="tree-tab-content" aria-labelledby="tree-menu-tab-folders" role="tabpanel" id="tree-tab-folders">
                <nav id="foldertree-widget" class="tree-widget foldertree-widget">
                    <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
                </nav>
            </div>
        {% endif %}
    </div>
</main-trees>
