<main-trees v-pre id="tree-container">

    <div class="rz-aside__head">
        <span class="rz-icon-ri--node-tree"></span>
        <h2 class="rz-aside__title">{% trans %}aside.title{% endtrans %}</h2>
    </div>

    {% if is_granted('ROLE_ACCESS_NODES')%}
        <div
            class="tree-tab-content"
            aria-labelledby="tree-menu-tab-nodes"
        >
            <nav class="tree-widget nodetree-widget">
                <div class="root-tree">
                    <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
                </div>
            </nav>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ACCESS_TAGS')%}
        <div
            class="tree-tab-content"
            aria-labelledby="tree-menu-tab-tags"
        >
            <nav id="tagtree-widget" class="tree-widget tagtree-widget">
                <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
            </nav>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ACCESS_DOCUMENTS')%}
        <div
            class="tree-tab-content"
            aria-labelledby="tree-menu-tab-folders"
        >
            <nav id="foldertree-widget" class="tree-widget foldertree-widget">
                <i class="main-tree-loader uk-icon uk-icon-cog uk-icon-spin"></i>
            </nav>
        </div>
    {% endif %}
</main-trees>
