<th>
    {% trans %}redirection.query{% endtrans %}
    {% if not no_sort %}
    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
        'field': 'query',
        'filters': filters,
    } only %}
    {% endif %}
</th>
<th>
    {% trans %}redirection.redirect_uri{% endtrans %}
    {% if not no_sort %}
    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
        'field': 'redirectUri',
        'filters': filters,
    } only %}
    {% endif %}
</th>
<th class="mobile-hidden">{% trans %}redirection.type{% endtrans %}</th>
<th class="mobile-hidden">
    {% trans %}redirection.use_count{% endtrans %}
    {% if not no_sort %}
    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
        'field': 'useCount',
        'filters': filters,
    } only %}
    {% endif %}
</th>
<th class="table-actions-row table-actions-row-3">
    {% if hasBulkActions %}
        <div class="bulk-selection">
            <input class="checkbox" type="checkbox" name="bulk-selection-all" />
        </div>
    {% endif %}
    {% trans %}actions{% endtrans %}
</th>
