{% import "@RoadizRozier/macros/rz_menu_bar.html.twig" as rz_menu_bar %}
<nav class="rz-menu-bar">
    <ul class="rz-menu-bar__inner">
        {{ rz_menu_bar.item(
            name: 'edit',
            label: 'folder.settings',
            href: path('foldersEditPage', { folderId: folder.id }),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'edit-label',
            label: 'folder.labels',
            href: path('foldersEditTranslationPage', { folderId: folder.id, translationId: translation.id }),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'list',
            label: 'documents',
            href: path('documentsHomePage', { folderId: folder.id }),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'private_list',
            label: 'private_documents',
            href: path('documentsPrivateHomePage', { folderId: folder.id }),
            current: current
        ) }}
    </ul>
</nav>
