<nav class="translation-bar uk-navbar">
    <ul class="uk-navbar-nav">
        {%- for translation in available_translations -%}
            {%- set liClasses = ['uk-navbar-item'] -%}
            {%- if current == translation.id -%}
                {% set liClasses = liClasses|merge(['uk-active']) %}
            {%- elseif translation not in translations -%}
                {% set liClasses = liClasses|merge(['unavailable']) %}
            {%- endif -%}
            <li {% if liClasses|length %}class="{{ liClasses|join(' ') }}"{% endif %}>
                <a class="uk-navbar-link" href="{{ path('foldersEditTranslationPage', {
                    folderId: folder.id,
                    translationId:translation.id
                }) }}">{{- translation.locale -}}</a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
