<nav class="translation-bar uk-navbar">
    <ul class="uk-navbar-nav">
        {%- for translation in available_translations -%}
            <li class="{% if current == translation.id %} uk-active{% endif %}">
                <a class="uk-navbar-link" href="{{ path('nodesEditAttributesPage', {
                    nodeId: node.id,
                    translationId: translation.id
                }) }}">{{- translation.locale -}}</a>
            </li>
        {%- endfor -%}
        <li class="uk-navbar-item">
            <a class="uk-navbar-link" href="{{ path('nodesTranslatePage', { nodeId: node.id }) }}"
               title="{% trans %}translate.node{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon uk-icon-rz-plus"></i></a>
        </li>
    </ul>
</nav>
