{% set editRouteParams = { documentId: document.id } %}

{% if app.request and app.request.get('referer') %}
    {% set editRouteParams = editRouteParams|merge({ referer: app.request.get('referer') }) %}
{% endif %}

<nav class="translation-bar uk-navbar">
    <ul class="uk-navbar-nav">
        {%- for translation in available_translations -%}
            {%- set editRouteParams = editRouteParams|merge({ translationId: translation.id }) -%}
            <li class="uk-navbar-item{% if current == translation.id %} uk-active{% endif %}">
                <a class="uk-navbar-link" href="{{ path('documentsMetaPage', editRouteParams) }}">{{- translation.locale -}}</a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
