{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}attribute_groups{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% include '@RoadizRozier/attributes/head.html.twig' with {
        title: 'attribute_groups'|trans,
        filters: filters,
        buttons: [
            {
                label: 'add.a.attribute_group'|trans,
                attributes: {
                    href: path('attributeGroupsAddPage'),
                },
                icon: 'rz-icon-ri--add-line'
            },
        ],
        with_breadcrumb: true,
    } only %}

    {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
    }  only %}

    <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: hasBulkActions,
            actions_available: true,
        } %}
            {% block thead_cells %}
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'canonicalName',
                        'filters': filters,
                        'label': 'attribute_group.form.canonicalName'|trans,
                    } only %}
                </th>
                <th>
                    {% trans %}attribute_groups.name{% endtrans %}
                </th>
            {% endblock %}
            {% block tbody_content %}
                {% for item in items %}
                    <tr>
                        <td>{{- item.canonicalName -}}</td>
                        <td>{{- item.name -}}</td>
                        {% if actions_available %}
                        <td>
                            {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                'edit_href': path('attributeGroupsEditPage', { id: item.id }),
                                'delete_href': is_granted('ROLE_ACCESS_ATTRIBUTES_DELETE') ?  path('attributeGroupsDeletePage', { id: item.id }) : null,
                            } %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </article>
</section>
{% endblock %}
