{% embed '@RoadizRozier/includes/rz_table.html.twig' with {
	bordered: true,
	margin_top: 'xs',
} %}
	{% block tbody_content %}
		<tr>
			<th>{% trans %}created.at{% endtrans %}</th>
			<td>
			{% if item.createdAt is defined %}
				{{ item.createdAt|format_datetime('long', locale=app.request.locale) }}</td>
			{% else %}
				{{ 'not.available'|trans }}
			{% endif %}
		</tr>
		<tr>
			<th>{% trans %}updated.at{% endtrans %}</th>
			<td>
			{% if item.updatedAt is defined %}
				{{ item.updatedAt|format_datetime('long', locale=app.request.locale) }}
			{% else %}
				{{ 'not.available'|trans }}
			{% endif %}
			</td>
		</tr>
		{% block others_row %}{% endblock %}
	{% endblock %}
{% endembed %}
