{% import '@RoadizRozier/macros/rz_table_action.html.twig' as rz_table_action %}

<div class="rz-button-group rz-button-group--sm rz-button-group--end">
	{% if edit_href %}
		{{ rz_table_action.item({
			icon: 'rz-icon-ri--edit-line',
			attributes: {
				href: edit_href,
				title: 'edit'|trans,
			}
		}) }}
	{% endif %}
	{% block other_actions %}{% endblock %}
	{% if delete_href %}
		{{ rz_table_action.item({
			icon: 'rz-icon-ri--delete-bin-7-line',
			color: 'danger',
			attributes: {
				href: delete_href,
				title: 'delete'|trans,
			}
		}) }}
	{% endif %}

</div>
