{% set icon = icon|default('rz-icon-ri--node-tree') %}
<div class="rz-aside__head">
	<span class="{{ icon }}"></span>
	<h2 class="rz-aside__title">
		{{ title|default('rz_aside.title'|trans) }}
		{% block after_title %}{% endblock %}
	</h2>

	{% if button is defined %}
		{% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}
		{{ rz_button.root(button|merge({ size: 'sm', class: 'rz-aside__button' })) }}
	{% endif %}

	{% block action %}{% endblock %}
</div>
