{% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}

{% if tree and tree.availableTranslations and tree.availableTranslations|length > 1 %}
    <ul
        class="rz-language-switcher">
        {%- for lang in tree.availableTranslations -%}
            <li>
                {% set is_selected = lang.id == tree.translation.id %}
                {% set btn_attrs = {
                    type: 'button',
                    'data-translation-id': lang.id,
                } %}
                {% if tree.rootNode %}
                    {% set btn_attrs = btn_attrs|merge({'data-children-parent-node': tree.rootNode.id }) %}
                {% endif %}
                {% if tree.tag %}
                    {% set btn_attrs = btn_attrs|merge({'data-filter-tag': tree.tag.id}) %}
                {% endif %}

                {{ rz_button.root({
                    label: lang.preferredLocale|capitalize,
                    emphasis: 'tertiary',
                    size: 'xs',
                    selected: is_selected,
                    attributes: btn_attrs,
                }) }}
            </li>
        {%- endfor -%}
    </ul>
{% endif %}
