{% extends '@RoadizRozier/admin/base.html.twig' %}

{% block title %}{{ block('bulk_title') }} | {{ parent() }}{% endblock %}
{% block content_title %}{% block bulk_title %}{% endblock %}{% endblock %}

{% block content_count_filters %}
    {% include '@RoadizRozier/widgets/countFiltersBar.html.twig' %}
{% endblock %}

{% block content_header_nav %}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('customFormsHomePage') }}"
       title="{% trans %}back_to.customForms{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
{% endblock %}

{% block content_body %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="items content-table uk-table">
                <thead>
                    <tr>
                        {% include '@RoadizRozier/custom-forms/customform_row_header.html.twig' with { no_sort: true } %}
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        {% include '@RoadizRozier/custom-forms/customform_row.html.twig' %}
                    </tr>
                {% else %}
                    <tr><td colspan="5">{% trans %}no_custom_forms{% endtrans %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% block bulk_form %}{% endblock %}
    </article>
{% endblock %}
