{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% block bulk_title %}{% endblock %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% include '@RoadizRozier/custom-forms/head.html.twig' with {
        title: block('bulk_title'),
        filters: filters
    } only %}

    {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="items content-table uk-table">
                <thead>
                    <tr>
                        {% include '@RoadizRozier/custom-forms/custom_form_row_header.html.twig' with { no_sort: true } %}
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        {% include '@RoadizRozier/custom-forms/custom_form_row.html.twig' %}
                    </tr>
                {% else %}
                    <tr><td colspan="5">{% trans %}no_custom_forms{% endtrans %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% block bulk_form %}{% endblock %}
    </article>
</section>
{% endblock %}
