<th>
    {% trans %}customForm.displayName{% endtrans %}
    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
        'field': 'displayName',
        'filters': filters,
    } only %}
</th>
<th class="mobile-hidden">
    {% trans %}createdAt{% endtrans %}
    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
        'field': 'createdAt',
        'filters': filters,
    } only %}
</th>
<th class="mobile-hidden">
    {% trans %}customForm.closeDate{% endtrans %}
    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
        'field': 'closeDate',
        'filters': filters,
    } only %}
</th>
<th class="mobile-hidden"></th>
<th class="table-actions-row table-actions-row-6 table-actions-row-xs-4">
    {% if hasBulkActions %}
        <div class="bulk-selection">
            <input class="checkbox" type="checkbox" name="bulk-selection-all" />
        </div>
    {% endif %}
    {% trans %}actions{% endtrans %}
</th>
