{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ customForm.displayName|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/custom-forms/head.html.twig' with {
        title: customForm.displayName|truncate_title
    } only %}

    {% include '@RoadizRozier/custom-forms/navBar.html.twig' with {
        type: customForm,
        current: 'customFormUsage'
    } only %}

    <article class="content content-no-action-menu">
        <h3>{% trans %}customForm.twig_code{% endtrans %}</h3>
        <pre class="uk-alert"><code>&#123;&#123; render(controller('RZ\\\\Roadiz\\\\CoreBundle\\\\Controller\\\\CustomFormController::formAction', &#123;'customFormId': {{ customForm.id }}&#125;)) &#125;&#125;</code></pre>

        <h3>{% trans %}customForm.controller_code{% endtrans %}</h3>
        <pre class="uk-alert"><code>$this-&gt;get('customFormHelper')-&gt;getFormFromEntity($customForm, null, true);</code></pre>
    </article>

    {% include '@RoadizRozier/custom-forms/actionsMenu.html.twig' %}
</section>
{% endblock %}
