<div id="company">
    {%  if project_logo_url is not empty %}
        <a class="admin-image" href="{{ path('adminHomePage') }}"><img loading="lazy" src="{{ project_logo_url }}" alt=""/></a>
    {% else %}
        <a class="uk-icon-rz-roadiz-icon" href="{{ path('adminHomePage') }}"></a>
    {% endif %}
</div>
