<div id="login-logo">
    {%  if project_logo_url is not empty %}
        <img loading="lazy" src="{{ project_logo_url }}" alt=""/>
    {% else %}
        <i class="uk-icon-rz-roadiz-icon"></i>
    {% endif %}
</div>
