{% extends '@RoadizRozier/login/base.html.twig' %}

{% block login_content %}
    {% if error %}
        <div data-uk-alert class="uk-alert uk-alert-danger">{{ error }}</div>
    {% endif %}
    {% if form %}
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        <form id="login-form"
              class="rz-login__group"
              method="post">
            {{ form_widget(form) }}
            <div class="rz-login__group rz-login__group--last rz-login__group--full-width">
                <button type="submit" class="rz-button rz-button--primary">
                    <span class="rz-button__label">{% trans %}save.new.password{% endtrans %}</span>
                    <span class="rz-button__icon rz-icon-ri--arrow-right-s-line"></span>
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}
