{% extends "@RoadizRozier/admin/base.html.twig" %}

{% block title %}{% trans %}nodeTypeDecorator{% endtrans %} | {{ parent() }}{% endblock %}

{%- block content_title -%}{% trans %}nodeTypeDecorator{% endtrans %}{%- endblock -%}

{%- block content_header_actions -%}
    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
        <button class="uk-button"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.nodeTypeDecorator{% endtrans %} <i class="uk-icon-caret-down"></i></button>
        <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown">
                {% for type in nodeTypes %}
                    <li><a href="{{ path('nodeTypeDecoratorsAddPage', { nodeTypeName: type.getName, translationId:translation.getId }) }}">{{ type.getDisplayName }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endblock -%}

{%- block content_filters -%}
    {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}
    {% include '@RoadizRozier/admin/bulk_actions.html.twig' %}
{%- endblock -%}

{%- block content_body -%}
    <article class="content content-no-action-menu content-node-type-decorator-list">
        <div class="content-table-cont">
            <table class="node-type-decorator content-table uk-table">
                <thead>
                <tr>
                    {%- include '@RoadizRozier/node-types-decorators/row_header.html.twig' -%}
                </tr>
                </thead>
                <tbody>
                {%- for item in items -%}
                    <tr>
                        {%- include '@RoadizRozier/node-types-decorators/row.html.twig' -%}
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
    </article>
{%- endblock -%}
