{% extends "@RoadizRozier/layout.html.twig" %}

{% block content %}
    <section class="bulk-layout content-global">
        {% block header %}{% endblock %}
        {%- block content_filters -%}{%- endblock -%}
        {%- block content_body -%}{%- endblock -%}
    </section>
{% endblock %}
