{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}webhooks{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters bulk-layout">
    <header class="content-header header-item header-item-list">
        <h1 class="content-title item-list-title">{% trans %}webhooks{% endtrans %}</h1>
        {% include '@RoadizRozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('webhooksAddPage') }}">
                <i class="uk-icon-rz-plus"></i> {% trans %}add.a.webhook{% endtrans %}
            </a>
        </div>
    </header>

    {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}
    {% include '@RoadizRozier/admin/bulk_actions.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="items content-table uk-table webhooks">
                <thead>
                <tr>
                    {% include '@RoadizRozier/admin/webhooks/webhook_row_header.html.twig' %}
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        {% include '@RoadizRozier/admin/webhooks/webhook_row.html.twig' %}
                    </tr>
                {% else %}
                    <tr><td colspan="6">{% trans %}no_webhooks{% endtrans %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
