{% embed "@RoadizRozier/macros/rz_page_header.html.twig" %}
    {% block breadcrumb %}
        {# Override in specific templates if breadcrumb is needed #}
    {% endblock %}

    {% block buttons %}
        {% if buttons is defined %}
            <div class="rz-button-group--gap-md rz-page-header__item--right">
                {{ buttons|raw }}
            </div>
        {% endif %}
    {% endblock %}

    {% block badges %}
        {% if filters is defined and filters.itemCount %}
            {% import "@RoadizRozier/macros/rz_badge.html.twig" as rz_badge %}
            <div class="rz-page-header__item">
                {{ rz_badge.item(
                    label: '%count%.items'|transchoice(filters.itemCount)|raw,
                    size: 'sm',
                    color: 'default'
                ) }}
            </div>
        {% endif %}
    {% endblock %}

    {% block translation %}
        {# Override in specific templates if translation bar is needed #}
        {# Tags templates should include their own translationBar.html.twig if needed #}
    {% endblock %}

    {% block title %}
        <h1 class="rz-page-header__title rz-page-header__item">
            {{ title }}
        </h1>
    {% endblock %}

    {% block subtitle %}
        {# Override in specific templates if subtitle is needed #}
    {% endblock %}

    {% block nav_bar %}
        {% if with_nav_bar is defined and with_nav_bar and tag is defined %}
            {% include '@RoadizRozier/tags/navBar.html.twig' with {"tag": tag, "current": current} %}
        {% endif %}
    {% endblock %}
{% endembed %}
