{% extends '@RoadizRozier/layout.html.twig' %}
{% set tTag = tag.getTranslatedTags.first %}

{%- block title -%}
    {{ tTag.getName }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
    <section class="content-global content-nav-and-filters">
        {% include '@RoadizRozier/tags/head.html.twig' with {
            title: tTag.getName,
            filters: filters,
            with_nav_bar: true,
            tag: tag,
            current: 'nodes',
            available_translations, available_translations,
            translation: translation
        } only %}

        {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}

        <article>
            {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                selection_available: false,
            } only %}
                {% block thead_cells %}
                    {% include '@RoadizRozier/nodes/widgets/rz_head_cells.html.twig' %}
                {% endblock %}

                {% block tbody_content %}
                    {% for node in nodes %}
                        {% include '@RoadizRozier/nodes/widgets/rz_body_row.html.twig' with {
                            'node': node,
                            'selection_available': selection_available,
                        } only %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </article>
    </section>
{% endblock %}
