{% extends '@RoadizRozier/layout.html.twig' %}
{% set tTag = tag.getTranslatedTags.first %}

{%- block title -%}
    {{ tTag.getName }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: tTag.getName,
        filters: filters,
        with_nav_bar: true,
        tag: tag,
        current: 'nodes',
        available_translations: available_translations,
        translation: translation,
        with_breadcrumb: true,
    } only %}

    {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
        display_select_all_button: false,
    }  only %}

    <section>
        {% include '@RoadizRozier/nodes/list_table.html.twig' with {
            sortable: false,
            selection_available: false,
            actions_available: true,
            nodes: nodes,
        } only %}
    </section>
{% endblock %}
