{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ "tag.%name%.tree"|trans({'%name%': tag.getTagName })|truncate_title }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: "tag.%name%.tree"|trans({'%name%': tag.getTagName })|truncate_title(40),
        filters: filters,
        with_nav_bar: true,
        tag: tag,
        current: 'tree',
    } only %}

    <article class="content content-tags-tree">
        {% include '@RoadizRozier/widgets/tagTree/tagTree.html.twig' with { "tagTree":specificTagTree, "tag":specificTagTree.getRootTag } only %}
    </article>

    {% include '@RoadizRozier/tags/actionsMenu.html.twig' %}

</section>
{% endblock %}
