parameters:
    level: 7
    paths:
        - src
    excludePaths:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    ignoreErrors:
        - '#Instantiated class Memcached not found#'
        - '#Instantiated class Redis not found#'
    reportUnmatchedIgnoredErrors: false
