{% extends '@RoadizRozier/admin/base.html.twig' %}

{% block title %}{{ block('bulk_title') }} | {{ parent() }}{% endblock %}
{% block content_title %}{% block bulk_title %}{% endblock %}{% endblock %}

{%- block header -%}
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: block('bulk_title'),
        filters: filters,
    } only %}
{%- endblock -%}

{% block content_body %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="items content-table uk-table">
                <thead>
                    <tr>
                        {% include '/admin/article/row_header.html.twig' with { no_sort: true } %}
                    </tr>
                </thead>
                <tbody>
                {{ dump(items) }}
{#                {% for item in items %}#}
{#                    <tr>#}
{#                        {% include '/admin/article/row.html.twig' %}#}
{#                    </tr>#}
{#                {% else %}#}
{#                    <tr><td colspan="7">{% trans %}no_article{% endtrans %}</td></tr>#}
{#                {% endfor %}#}
                </tbody>
            </table>
        </div>
        {% block bulk_form %}{% endblock %}
    </article>
{% endblock %}
