{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% block bulk_title %}{% endblock %} | {{ parent() }}{% endblock %}

{% block content %}
    <section>
        {% include '@RoadizRozier/redirections/head.html.twig' with {
            title: block('bulk_title'),
            filters: filters
        } only %}

        {% include '@RoadizRozier/widgets/rz_filters_bar.html.twig' %}

        <article>
            {% include '@RoadizRozier/redirections/list_table.html.twig' with {
                items: items,
                filters: filters,
                actions_available: false,
                selection_available: false,
                no_sort: true,
            } only %}

            {% block bulk_form %}{% endblock %}
        </article>
    </section>
{% endblock %}
