{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% if user %}
        {{- "history.for.%name%"|trans({"%name%":user.identifier}) }}
    {% else %}
        {%- trans -%}history{% endtrans %}
    {% endif %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% if user %}
        {% set pageTitle = "history.for.%name%"|trans({"%name%":user.identifier}) %}
    {% else %}
        {% set pageTitle = 'history'|trans %}
    {% endif %}
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: pageTitle,
        filters: filters,
        with_nav_bar: true,
        nav_bar_template: user ? '@RoadizRozier/users/navBar.html.twig' : '@RoadizRozier/dashboard/navBar.html.twig',
        nav_bar_context: user ? {'user':user, 'current':'history'} : {'current':'history'},
        breadcrumb: {
            label: 'history-breadcrumb',
            current: pageTitle,
        },
    } only %}

    {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
        display_select_all_button: false,
    }  only %}

    <article>
        {% include '@RoadizRozier/history/list_table.html.twig' with {
            levels: levels,
            log_list: logs
        } only %}
    </article>

</section>
{% endblock %}
