<rz-tablist class="rz-tablist--filled">
    <div class="rz-tablist__inner" role="tablist">
        <a role="tab"
           class="rz-tablist__tab{% if current == 'dashboard' %} rz-tablist__tab--selected{% endif %}"
           aria-current="{{ current == 'dashboard' ? 'true' : 'false' }}"
           href="{{ path('adminHomePage') }}">
            {% trans %}dashboard{% endtrans %}
        </a>
        {% if is_granted('ROLE_ACCESS_LOGS') %}
            <a role="tab"
               class="rz-tablist__tab{% if current == 'history' %} rz-tablist__tab--selected{% endif %}"
               aria-current="{{ current == 'history' ? 'true' : 'false' }}"
               href="{{ path('historyHomePage') }}">
                {% trans %}history{% endtrans %}
            </a>
        {% endif %}
    </div>
</rz-tablist>
