{% import "@RoadizRozier/macros/rz-menu-bar.html.twig" as rz_menu_bar %}
<nav class="rz-menu-bar">
    <ul class="rz-menu-bar__inner">
        {{ rz_menu_bar.item(
            name: 'dashboard',
            label: 'dashboard',
            href: path('adminHomePage'),
            current: current
        ) }}
        {% if is_granted('ROLE_ACCESS_LOGS') %}
            {{ rz_menu_bar.item(
                name: 'history',
                label: 'history',
                href: path('historyHomePage'),
                current: current
            ) }}
        {% endif %}
    </ul>
</nav>
